body {
    background: linear-gradient(-45deg, purple, darkorchid, mediumorchid, mediumpurple);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
/* zdroj pre variaciu gradientov: https://1stwebdesigner.com/15-css-background-effects/ */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container-fluid {
    background-color: darkorchid;
}
.nav-item, .navbar-brand {
    font-size: medium;
    font-family: "Comic Sans MS", sans-serif;
    color: lightgray;
}
.obrazky_uctovnictvo {
    margin-left: 32vw;
    margin-right: 50vw;
    float: inherit;
    width: 50vw;
}
.popis_sekcie_uctovnictvo, .blizsie_info, .hlavicka_tabulky, .cennik tr, .kontakty  {
    color: lightgray;
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    top: 60vw;
    margin-right: auto;
    margin-left: auto;
}
.cennik th {
    color: lightgray;
    background: purple;
    text-align: center;
    fond-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkorchid;
}
.autor {
    color: lightgray;
    font-family: "Comic Sans MS", sans-serif;
    text-align: left;
}
.kontakty a {
    color: lightgray;
}
.kontakty a:hover {
    color: purple;
}