body {
    background: linear-gradient(-45deg, purple, darkorchid, mediumorchid, mediumpurple);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
/* zdroj pre variaciu gradientov: https://1stwebdesigner.com/15-css-background-effects/ */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container-fluid {
    background-color: darkorchid;
}
.nav-item, .navbar-brand {
    font-size: medium;
    font-family: "Comic Sans MS", sans-serif;
    color: lightgray;
}
.produkty {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 60vw;
    font-family: "Comic Sans MS", sans-serif;
    color: lightgray;
}
footer {
    position: fixed;
    left: 1vw;
    bottom: 0;
    width: 100%;
    color: lightgray;
    font-family: "Comic Sans MS", sans-serif;
    text-align: left;
}
.kontakty a {
    color: lightgray;
}
.kontakty a:hover {
    color: purple;
}