*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(-45deg, purple, darkorchid, mediumorchid, mediumpurple);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
/* zdroj pre variaciu gradientov: https://1stwebdesigner.com/15-css-background-effects/ */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1 {
    color: lightgray;
    font-family: "Comic Sans MS", sans-serif;
    font-size: x-large;

}
.navbar {
    border-bottom: 1px solid grey;
    background-color: purple;
}
.nav-item, .navbar-brand, .text-light-gray, .text-center, .nav-link {
    font-size: medium;
    font-family: "Comic Sans MS", sans-serif;
    color: lightgray;
}
.bg-purple {
    background: purple;
}

.text-light-gray:hover {
    color: plum;
}
.text-light-gray {
    color: lightgray;
}

.btn-primary {
    background: plum;
    color: white;
    border: 1px solid darkorchid;
    margin: 0 5px;
}

.btn-primary:hover {
    background: mediumpurple;
    color: white;
    border: 1px solid darkorchid;
}